body,
html {
  margin: 0;
  padding: 0;
    width: 100%;
    scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
    background-color: #A595B2;

}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

   .icon { 
     display: flex;
    justify-content: center; }

#hamburger {
  background: transparent;
  border: none;
  display: none;
  outline: none;
}

img {
  width: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3A3042;
  align-items: center;
  border-bottom: 0.5em solid #edddd4;
  position: relative;
  z-index: 300;
}

@media screen and (max-width: 755px) {
  #hamburger {
    display: block;
  }

  nav {
    display: none;
  }

  ul {
    flex-direction: column;
  }

  .visible {
    display: flex;
  }
}

@media screen and (max-width: 600) {
  #hamburger {
    display: block;
  }

  nav {
    display: none;
  }

  ul {
    flex-direction: column;
  }

  .visible {
    display: flex;
  }

  .dropdown {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 3000) {
  .dropdown {
    max-width: 10em;
    position: relative;
    width: 100%;
  }
}

li {
  background-color: #3A3042;
  margin: 0;
  padding: 1.25em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li a {
  color: #edddd4;
  text-decoration: none;
  font-weight: 800;
  transition: 0.25s;
  font-size: 20px;
}

li a:hover {
  font-size: 22px;
  color: #ffffff;
  text-decoration: #ffffff underline;
  text-shadow: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  background-color: #3A3042;
  display: flex;
}

span.add-label{
 display:none;
}

#whatb4:hover span.align{
 display:none;
}

#whatb4:hover span.add-label{
 display:block;
  font-size: 18px;
}

#whob4:hover span.align{
 display:none;
}

#whob4:hover span.add-label{
 display:block;
  font-size: 18px;
}

#whyb4:hover span.align{
 display:none;
}

#whyb4:hover span.add-label{
 display:block;
  font-size: 18px;
}


#howb4:hover span.align{
 display:none;
}

#howb4:hover span.add-label{
 display:block;
  font-size: 18px;
}


.involved {
  max-width: 10em;
  position: relative;
  width: 100%;
  display: inline-block;
  margin: auto;
}

.dropdown {
  max-width: 10em;
  position: relative;
  display: flex;
  align-items: center;
}

span:hover {
  font-size: larger;
  color: #ffffff;
  text-decoration: #ffffff underline;
  text-shadow: #ffffff;
  transition: 0.12s;
}

.dropdown-btn {
  background: #3A3042;
  font-size: larger;
  border: none;
  color: #edddd4;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 0.5em;
  cursor: pointer;
      font-weight: 700;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #edddd4;
  transition: transform ease-in-out 0.2s;
  margin: 8px;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  left: -100%;
  top: 100%;
  visibility: hidden;
  overflow: visible;
  flex-wrap: wrap;
  z-index: 300;
  padding: 0.5em;
}

.dropdown-content li {
  background-image: linear-gradient(#3A3042, #edddd4);
  border-radius: 0.5em;
  position: relative;
  width: 100%;
  transition: 0.2s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown-btn:focus + .dropdown-content li {
  left: 0;
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background-image: linear-gradient(#A595B2, #edddd4);
  color: #edddd4;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #edddd4;
  margin: 0.1em 0;
  text-decoration: none;
}


h1 {
  color: #edddd4;
  text-decoration: #edddd4 overline;
  text-align: center;
  font-weight: 700;
  display: block;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
/* .questions {
  background-image: url("https://www.ilga-europe.org/files/uploads/2018/06/Sex-Workers-Red-Umbrella.jpg");
} */

.accordion {
  background-color: #B80C09;
  color: #edddd4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-bottom: 0.1em solid #edddd4;
  outline: none;
  transition: 0.4s;
  font-size: 1.25em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #edddd4;
  color: #3a3042;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #DB4C40;
  color: #edddd4;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\00ff0b"; /* Unicode character for "plus" sign (+) */
  color: #edddd4;
  float: right;
  margin-left: 5px;
  display: block;
  font-size: 1.25em;
}

.active,
.accordion:hover:after {
  content: "\00ff0b"; /* Unicode character for "plus" sign (+) */
  color: #B80C09;
  float: right;
  margin-left: 5px;
  display: block;
  font-size: 1.25em;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: #B80C09;
}


.fa {
  padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%; }

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-official {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(purple, orange);
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}


footer {
      text-align: center;
  border-top: 0.5rem solid #edddd4;
  background-color: #3A3042;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 30px;
  margin: auto;
}

.end {
  color: #edddd4;
    text-align: center;
  display: block;
  margin-block-start: 0em;
  margin-block-end: auto;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
