body,
html {
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
    background-image: linear-gradient(#edddd4, #fff);

}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

#hamburger {
  background: transparent;
  border: none;
  display: none;
  outline: none;
}

#ham {
  width: 1.25em;
  border: none;
}

img {
  width: 1.25em;
  border: 0.5em solid #edddd4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #283d3b;
  align-items: center;
  border-bottom: 0.5em solid #edddd4;
}

@media screen and (max-width: 755px) {
  #hamburger {
    display: block;
  }

  nav {
    display: none;
  }

  ul {
    flex-direction: column;
  }

  .visible {
    display: flex;
  }
}

@media screen and (max-width: 600) {
  #hamburger {
    display: block;
  }

  nav {
    display: none;
  }

  ul {
    flex-direction: column;
  }

  .visible {
    display: flex;
  }

  .dropdown {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 3000) {
  .dropdown {
    max-width: 10em;
    position: relative;
    width: 100%;
  }
}

li {
  background-color: #283d3b;
  margin: 0;
  padding: 1.25em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li a {
  color: #edddd4;
  text-decoration: none;
  font-weight: 800;
  transition: 0.25s;
  font-size: larger;
}

li a:hover {
  font-size: larger;
  color: #ffffff;
  text-decoration: #ffffff underline;
  font-size: x-large;
  text-shadow: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1.25em;
  background-color: #283d3b;
  display: flex;
}

.involved {
  max-width: 10em;
  position: relative;
  width: 100%;
  display: inline-block;
  margin: auto;
}

.dropdown {
  max-width: 10em;
  position: relative;
}

span:hover {
  font-size: larger;
  color: #ffffff;
  text-decoration: #ffffff underline;
  font-size: x-large;
  text-shadow: #ffffff;
  transition: 0.25s;
}

.dropdown-btn {
  background: #283d3b;
  font-size: larger;
  /* width: 100%; */
  border: none;
  color: #edddd4;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 0.5em;
  cursor: pointer;
      font-weight: 700;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #edddd4;
  transition: transform ease-in-out 0.2s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  left: -100%;
  visibility: hidden;
  overflow: hidden;
  flex-wrap: wrap;
}

.dropdown-content li {
  background-image: linear-gradient(#283d3b, #edddd4);
  border-radius: 0.5em;
  position: relative;
  width: 100%;
  transition: 0.2s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown-btn:focus + .dropdown-content li {
  left: 0;
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background-image: linear-gradient(#197278, #edddd4);
  color: #edddd4;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #edddd4;
  margin: 0.1em 0;
  text-decoration: none;
}


 h1 {
  color: #edddd4;
  background-color: #c44536;
  text-align: center;
  font-weight: 700;
  text-decoration: #edddd4 overline;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 1.25em;
  padding-bottom: 1em;
  border: 2em;
  border-radius: 30px;
  margin: 20px;
}

h2 {
  color: #edddd4;
  background-color: #197278;
  border: 0.5rem solid #edddd4;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 1.25em;
  padding-right: 1.25em;
  text-align: center;
  font-size: 1.25em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-bottom: 30px;
}

table {
  table-layout: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

thead {
  color: #c44536;
  padding: 15px;
}

.headfirst {
  color: #9e2a2b;
  text-decoration: overline #9e2a2b;
  font-size: 25px;
}

.headfirst:hover {
  font-size: 30px;
}

.headsecond {
  color: #7e1014;
  font-size: 22px;
}
.first {
  color: #edddd4;
  font-size: 1.25em;
  display: block;
}

.types {
  font-size: 1.9em;
  padding: 1.25em;
  text-decoration: overline;
  color: #a12b2d;
}

.one {
  background-color: #9e2a2b;
  color: #edddd4;
  font-size: 1.1em;
  border-radius: 10px;
}

.one:hover {
  font-size: 1.25em;
  transition: 0.02s;
}

.two {
  background-color: #b12f31;
  color: #edddd4;
  font-size: 1.1em;
  border-radius: 10px;
}

.two:hover {
  font-size: 1.25em;
  transition: 0.02s;
}

.three {
  background-color: #c13336;
  color: #edddd4;
  font-size: 1.1em;
  border-radius: 10px;
}

.three:hover {
  font-size: 1.25em;
  transition: 0.02s;
}

.four {
  background-color: #cc3e40;
  color: #edddd4;
  font-size: 1.1em;
  border-radius: 10px;
}

.four:hover {
  font-size: 1.25em;
  transition: 0.02s;
}

.five {
  background-color: #540b0e;
  color: #edddd4;
  border-radius: 10px;
}

.six {
  background-color: #6c0e11;
  color: #edddd4;
  border-radius: 10px;
}

.seven {
  background-color: #7e1014;
  color: #edddd4;
  border-radius: 10px;
}

.eight {
  background-color: #901317;
  color: #edddd4;
  border-radius: 10px;
}

.decrim {
  text-decoration: overline #9e2a2b;
  font-weight: bold;
}

.aboutus {
  text-decoration: none;
}

.fa {
  padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%; }

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-official {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(purple, orange);
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}


footer {
  display: block;
  border-top: 0.5rem solid #edddd4;
  background-color: #283d3b;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 30px;
  margin: auto;
}

.end {
  color: #edddd4;
    text-align: center;
  display: block;
  margin-block-start: 0em;
  margin-block-end: auto;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
